# https://editorconfig.org/
# https://editorconfig-specification.readthedocs.io/en/latest/

root = true # stop further searching

# default hehavior
[*]
indent_style = space
indent_size = 2
tab_width = 2
# end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = tab
trim_trailing_whitespace = unset
tab_width = 4
end_of_line = lf

[*.js]
end_of_line = lf

[makefile*]
indent_style = tab
indent_size = 4
